<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</script>
<title>
	Neo Youtube
</title>
</head>
<body>

	{% block content %}
	<h1>Hi</h1>
	{% endblock content %}
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="{% static "jquery/jquery-3.2.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
    </body>
</body>
</html>
